certifi==2022.12.7
charset-normalizer==3.0.1
Cython==0.29.33
datatable==0.11.0
helpdev==0.7.1
idna==3.4
lzo @ git+https://github.com/System233/lzo@0c6989e78a1fbe26a0c9f15cc65da1a9e3093a20
numpy==1.20.3
packaging==23.0
pandas==1.5.3
psutil==5.9.4
py-lets-be-rational==1.0.1
py-vollib==1.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
python-dateutil==2.8.2
python-engineio==3.14.2
python-socketio==4.6.0
pytz==2022.7.1
QDarkStyle==2.8.1
QtPy==2.3.0
requests==2.28.2
scipy==1.10.1
simplejson==3.18.3
six==1.16.0
urllib3==1.26.14
websocket-client==0.57.0
